<?xml version="1.0"?>
<launch>

<include file="$(find bullet_reasoning_demo)/launch/bullet_reasoning.launch"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch"/>

<group ns="quad">
<include file="$(find sherpa_spatial_relations)/launch/flying_robot.launch"/>
</group>

<group ns="rover">
<include file="$(find sherpa_spatial_relations)/launch/ground_rover.launch"/>
</group>

<group ns="genius">
<include file="$(find sherpa_spatial_relations)/launch/busy_genius.launch"/>
</group>

</launch>