<?xml version="1.0" encoding="utf-8"?>
<launch>
<!--<param name="robot_description" textfile="$(find sherpa_spatial_relations)/urdf/quadrotor.urdf"/>-->
<param name="robot_description" command="$(find xacro)/xacro.py '$(find hector_quadrotor_description)/urdf/quadrotor_with_asus_with_hokuyo_utm30lx.urdf.xacro'" />
</launch>